@charset "UTF-8";
html, body {
    margin: 0
}

* {
    transition: 500ms;
}

@font-face {
    font-family: Anodina;
    src: url("http://127.0.0.1/assets/media/font/Anodina-Regular.otf");
}

@font-face {
    font-family: Anodina;
    font-weight: 600;
    src: url("http://127.0.0.1/assets/media/font/Anodina-Bold.otf");
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url("../media/font/MaterialIcons-Regular.woff2") format('woff2')
}

.mi {
    font-family: 'Material Icons', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}


:root {
    --theme: #027988;
    --theme200: #03b6cd88;
    --black: #000;
    --box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .1);
    --white: #fff;
    --white200: #ffffff22;
    --grey: #888;
}

#pg-app {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    overflow: scroll;
    background: var(--white);
    z-index: 1000;
}

body > *:not(#pg-app) * {
    overflow: hidden !important;
    opacity: 0 !important;
    width: 0 !important;
    height: 0 !important;
}

.pg-stickThreadBox {
    width: calc(100vw - 80px);
    max-width: 380px;
    margin: 0 auto;
    box-shadow: var(--box-shadow);
    padding: 10px 20px;
    border-radius: 5px;
    background: var(--white);
}

.pg-stickThread .threadListName {
    margin: 4px 0;
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
}

.pg-normalThreadBox {
    width: calc(100vw - 80px);
    margin: 20px auto 0;
    max-width: 380px;
    background: var(--white);
    padding: 20px;
    border-radius: 5px 5px 0 0;
}

.pg-normalThread .threadListName {
    margin: 8px 0;
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
}

#pg-app-titleBar {
    width: 100%;
    height: 175px;
    position: relative;
}

#pg-app {
    height: 100vh;
    overflow: scroll;
}

.pg-backgroundImage {
    left: -12.5%;
    top: -10%;
    width: 125%;
    height: 250px;
    position: fixed;
    background: url(http://127.0.0.1/assets/media/images/banner.png) #03b6cd88;
    background-size: 125%;
    background-position-y: 37.5%;
    z-index: -1;
    filter: blur(5px);
}

.pg-backgroundFilter {
    background: var(--white200);
    width: 100%;
    height: 250px;
    position: fixed;
    left: 0;
    top: 0;
}

div[class^="city-icon-"] {
    width: 36px;
    height: 36px;
    border-radius: 25%;
    border: 3px solid var(--white);
    background-color: var(--white);
    display: inline-block;
    vertical-align: middle;
}

.city-icon-GZ {
    background: url("http://127.0.0.1/assets/media/images/city-icon/GZ.svg");
    background-size: 100%;
}

.pg-titleName > :nth-child(2) {
    color: var(--white);
    display: inline-block;
    vertical-align: middle;
    font: 800 20px/1 Anodina;
    margin-left: 10px;
}

.pg-titleName {
    position: absolute;
    left: 20px;
    bottom: 90px;
}

.pg-threadBox {
    margin-top: -75px;
}

.fidName .cn {
    display: block;
}

.fidName .en {
    display: block;
    font-size: 18px;
}

#topName {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 48px;
    background: var(--white);
    box-shadow: 0 0 10px 0 var(--grey);
    text-align: center;
    font: 800 16px/48px Anodina, sans-serif;
}

#topName:not(.scrolled) {
    opacity: 0;
}

#pg-pgs {
    width: 100%;
    height: 36px;
    text-align: center;
}

#pg-pgs > * {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 2px solid var(--black);
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
}

#pg-pgs > *:hover, #pg-pgs > *:focus {
    background: var(--black);
    color: var(--white);
}

#pg-pgs > .nextPage, #pg-pgs > .prevPage {
    font: 24px/28px 'Material Icons';
}

#pg-pgs > :not(.nextPage):not(.prevPage) {
    font: 16px/28px monospace;
}