@charset "UTF-8";
html, body {
    margin: 0;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
}

* {
    transition: 500ms;
}

@font-face {
    font-family: Anodina;
    src: url("https://passionpenguin.github.io/GZMTR/assets/media/font/Anodina-Regular.otf");
}

@font-face {
    font-family: Anodina;
    font-weight: 600;
    src: url("https://passionpenguin.github.io/GZMTR/assets/media/font/Anodina-Bold.otf");
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url("../media/font/MaterialIcons-Regular.woff2") format('woff2')
}

.mi {
    font-family: 'Material Icons', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}


:root {
    --theme: #027988;
    --theme200: #03b6cd88;
    --black: #000;
    --box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .1);
    --white: #fff;
    --white200: #ffffff22;
    --grey: #888;
}

#pg-app {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    overflow: scroll;
    background: var(--white);
    z-index: 1000;
}

body > *:not(#pg-app):not(#append_parent):not(#pg-navBottom):not(#bg-animation):not(#pg-copyInfo):not(#pg-prompt-wrap):not(#prefrences) * {
    overflow: hidden !important;
    opacity: 0 !important;
    width: 0 !important;
    height: 0 !important;
}

.pg-stickThreadBox {
    width: calc(100vw - 80px);
    max-width: 380px;
    margin: 0 auto;
    box-shadow: var(--box-shadow);
    padding: 10px 20px;
    border-radius: 5px;
    background: var(--white);
}

.pg-stickThread .threadListName {
    margin: 4px 0;
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
}

.pg-normalThreadBox, .pg-threadWrap {
    width: calc(100vw - 80px);
    margin: 20px auto 0;
    max-width: 380px;
    background: var(--white);
    padding: 20px;
    border-radius: 5px 5px 0 0;
}

.pg-normalThread .threadListName {
    margin: 16px 0;
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
}

#pg-app-titleBar {
    width: 100%;
    height: 175px;
    position: relative;
}

#pg-app {
    height: 100vh;
    overflow: scroll;
}

.pg-backgroundImage {
    left: -12.5%;
    top: -10%;
    width: 125%;
    height: 250px;
    position: fixed;
    background: url(https://passionpenguin.github.io/GZMTR/assets/media/images/banner.png) #03b6cd88;
    background-size: 125%;
    background-position-y: 37.5%;
    filter: blur(5px);
}

.pg-backgroundFilter {
    background: var(--white200);
    width: 100%;
    height: 250px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 0;
}

img[class^="city-icon-"] {
    width: 36px;
    height: 36px;
    border-radius: 25%;
    border: 3px solid var(--white);
    background-color: var(--white);
    display: inline-block;
    vertical-align: middle;
}

.pg-titleName > :nth-child(2) {
    color: var(--white);
    display: inline-block;
    vertical-align: middle;
    font: 800 20px/1 Anodina;
    margin-left: 10px;
}

.pg-titleName {
    position: absolute;
    left: 20px;
    bottom: 90px;
}

.pg-threadBox {
    z-index: 1002;
    margin-top: -75px;
    bottom: 0;
    top: 200px;
    left: 20px;
}

.fidName .cn {
    display: block;
}

.fidName .en {
    display: block;
    font-size: 18px;
}

#topName {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 48px;
    background: var(--white);
    box-shadow: 0 0 10px 0 var(--grey);
    text-align: center;
    font: 800 16px/48px Anodina, sans-serif;
    z-index: 1003;
}

#topName:not(.scrolled) {
    opacity: 0;
}

#pg-pgs {
    width: 100%;
    height: 36px;
    text-align: center;
}

#pg-pgs > * {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 2px solid var(--black);
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
}

#pg-pgs > *:hover, #pg-pgs > *:focus {
    background: var(--black);
    color: var(--white);
}

#pg-pgs > .nextPage, #pg-pgs > .prevPage {
    font: 24px/28px 'Material Icons';
}

#pg-pgs > :not(.nextPage):not(.prevPage) {
    font: 16px/28px monospace;
}

img.pg-threadAuthorAvatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.pg-threadAuthorInfo, .pg-threadPostMeta {
    display: inline-block;
    vertical-align: middle;
}

.pg-threadAuthorInfo p, .pg-threadPostInfo span {
    display: inline-block;
    margin: 0 0 0 10px;
}

.postThreadContent {
    width: calc(100vw - 90px);
    margin: 20px auto;
}

.postThreadContent .t_fsz {
    min-height: unset;
}

p.pg-threadPostInfo {
    color: var(--grey);
}

p.pg-threadAuthorName {
    font: 800 14px/1 Anodina, sans-serif;
}

.pg-threadWrap, .pg-threadWrap * {
    max-width: calc(100vw - 80px)
}

.pg-threadPost {
    margin: 0 0 30px 0;
}

.replyToThis:before {
    display: inline-block;
    content: "reply";
    font: 24px/1 "Material Icons";
    vertical-align: middle;
    margin: -3px 6px 0 0;
}

.makeRate:before {
    display: inline-block;
    content: "thumb_up";
    font: 18px/1 "Material Icons";
    vertical-align: middle;
    margin: -3px 6px 0 12px;
}

#append_parent #fwin_rate.fwinmask {
    overflow: scroll !important;
    width: fit-content !important;
    height: fit-content !important;
    opacity: 1 !important;
    visibility: visible !important;
    position: fixed !important;
    left: 50% !important;
    top: 37.5% !important;
    transform: translate(-50%, -37.5%);
}

#append_parent > * {
    z-index: 1002 !important;
}

.pg-threadWrap {
    margin-top: 64px;
}

.pg-backgroundFilter, .pg-backgroundImage {
    z-index: -1;
}

.theme-color {
    color: var(--theme);
}

.ic-back.theme-color.mi {
    vertical-align: middle;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translate(0, -50%);
}

.pg_register td.m_r, .pg_register #fwin_login > table > tbody > tr:last-child {
    display: none;
}

#fwin_content_login {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    margin-top: 48px;
}

.pg_register .rfm th {
    width: 75px;
}

a.flbc

@charset "UTF-8";
html, body {
    margin: 0;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
}

* {
    transition: 500ms;
}

@font-face {
    font-family: Anodina;
    src: url("https://passionpenguin.github.io/GZMTR/assets/media/font/Anodina-Regular.otf");
}

@font-face {
    font-family: Anodina;
    font-weight: 600;
    src: url("https://passionpenguin.github.io/GZMTR/assets/media/font/Anodina-Bold.otf");
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url("../media/font/MaterialIcons-Regular.woff2") format('woff2')
}

.mi {
    font-family: 'Material Icons', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}


:root {
    --theme: #027988;
    --theme200: #03b6cd88;
    --black: #000;
    --box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .1);
    --white: #fff;
    --white200: #ffffff22;
    --grey: #888;
}

#pg-app {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    overflow: scroll;
    background: var(--white);
    z-index: 1000;
}

.pg-stickThreadBox {
    width: calc(100vw - 80px);
    max-width: 380px;
    margin: 0 auto;
    box-shadow: var(--box-shadow);
    padding: 10px 20px;
    border-radius: 5px;
    background: var(--white);
}

.pg-stickThread .threadListName {
    margin: 5px 0;
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
}

.pg-stickThread .threadListName:before {
    content: "置顶";
    margin-right: 15px;
    color: var(--theme);
}

.pg-normalThreadBox, .pg-threadWrap {
    width: calc(100vw - 80px);
    margin: 20px auto 0;
    max-width: 380px;
    background: var(--white);
    padding: 20px;
    border-radius: 5px 5px 0 0;
}

.pg-normalThread .threadListName {
    margin: 0;
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
    font: 400 13px/1 Anodina, sans-serif;
}

.pg-normalThread .threadListName:before {
    content: "帖子";
    margin-right: 15px;
    color: var(--theme);
}

.pg-normalThread .threadListName.new:before {
    content: "新帖";
    margin-right: 15px;
    color: var(--theme);
}

.pg-normalThread .threadListName.vote:before {
    content: "投票";
    margin-right: 15px;
    color: var(--theme);
}

#pg-app-titleBar {
    width: 100%;
    height: 175px;
    position: relative;
}

#pg-app {
    height: 100vh;
    overflow: scroll;
}

.pg-backgroundImage {
    left: -12.5%;
    top: -10%;
    width: 125%;
    height: 250px;
    position: fixed;
    background: url(https://passionpenguin.github.io/GZMTR/assets/media/images/banner.png) #03b6cd88;
    background-size: 125%;
    background-position-y: 37.5%;
    filter: blur(5px);
}

.pg-backgroundFilter {
    background: var(--white200);
    width: 100%;
    height: 250px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 0;
}

img[class^="city-icon-"] {
    width: 36px;
    height: 36px;
    border-radius: 25%;
    border: 3px solid var(--white);
    background-color: var(--white);
    display: inline-block;
    vertical-align: middle;
}

.pg-titleName > :nth-child(2) {
    color: var(--white);
    display: inline-block;
    vertical-align: middle;
    font: 800 20px/1 Anodina;
    margin-left: 10px;
}

.pg-titleName {
    position: absolute;
    left: 20px;
    bottom: 90px;
}

.pg-threadBox {
    z-index: 1002;
    margin-top: -75px;
    bottom: 0;
    top: 200px;
    left: 20px;
}

.fidName .cn {
    display: block;
}

.fidName .en {
    display: block;
    font-size: 18px;
}

#topName {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 48px;
    background: var(--white);
    box-shadow: 0 0 10px 0 var(--grey);
    text-align: center;
    font: 800 16px/48px Anodina, sans-serif;
    z-index: 1003;
}

#topName:not(.scrolled) {
    opacity: 0;
}

#pg-pgs {
    width: 100%;
    height: 36px;
    text-align: center;
}

#pg-pgs > * {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 2px solid var(--black);
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
}

#pg-pgs > *:hover, #pg-pgs > *:focus {
    background: var(--black);
    color: var(--white);
}

#pg-pgs > .nextPage, #pg-pgs > .prevPage {
    font: 24px/28px 'Material Icons';
}

#pg-pgs > :not(.nextPage):not(.prevPage) {
    font: 16px/28px monospace;
}

img.pg-threadAuthorAvatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.pg-threadAuthorInfo, .pg-threadPostMeta {
    display: inline-block;
    vertical-align: middle;
}

.pg-threadAuthorInfo p, .pg-threadPostInfo span {
    display: inline-block;
    margin: 0 0 0 10px;
}

.postThreadContent {
    width: calc(100vw - 90px);
    margin: 20px auto;
}

.postThreadContent .t_fsz {
    min-height: unset;
}

p.pg-threadPostInfo {
    color: var(--grey);
}

p.pg-threadAuthorName {
    font: 800 14px/1 Anodina, sans-serif;
}

.pg-threadWrap, .pg-threadWrap * {
    max-width: calc(100vw - 80px)
}

.pg-threadPost {
    margin: 0 0 30px 0;
}

.replyToThis:before {
    display: inline-block;
    content: "reply";
    font: 24px/1 "Material Icons";
    vertical-align: middle;
    margin: -3px 6px 0 0;
}

.makeRate:before {
    display: inline-block;
    content: "thumb_up";
    font: 18px/1 "Material Icons";
    vertical-align: middle;
    margin: -3px 6px 0 12px;
}

#append_parent #fwin_rate.fwinmask {
    overflow: scroll !important;
    width: fit-content !important;
    height: fit-content !important;
    opacity: 1 !important;
    visibility: visible !important;
    position: fixed !important;
    left: 50% !important;
    top: 37.5% !important;
    transform: translate(-50%, -37.5%);
}

#append_parent > * {
    z-index: 1002 !important;
}

.pg-threadWrap {
    margin-top: 64px;
}

.pg-backgroundFilter, .pg-backgroundImage {
    z-index: -1;
}

.theme-color {
    color: var(--theme);
}

#topName > * {
    vertical-align: middle;
}

.ic-back.theme-color.mi {
    vertical-align: middle;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translate(0, -50%);
}

.pg_register td.m_r, .pg_register #fwin_login > table > tbody > tr:last-child {
    display: none;
}

#fwin_content_login {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    margin-top: 48px;
}

.pg_register .rfm th {
    width: 75px;
}

.pg_register a.flbc {
    display: none;
}

#topName > span:nth-child(2) {
    display: inline-block;
    max-width: calc(100vw - 100px);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

p.pg-threadPostMeta {
    max-width: calc(100vw - 125px);
    text-overflow: ellipsis;
    overflow: hidden;
}

.hotForum:not(:nth-child(3)):not(:last-child) {
    margin-right: 10%;
}

.hotForum {
    width: 26.6%;
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
}

.pg-hotForum {
    position: relative;
    width: calc(100vw - 80px);
    margin: 0 auto;
}

.hotForum img {
    max-width: 40px;
    max-height: 40px;
    border-radius: 37.5%;
}

p.pg-hotForumDescription:before, p.pg-hotForumDescription:after, p.pg-hotThreadDescription:before, p.pg-hotThreadDescription:after, p.pg-mainForumDescription:before, p.pg-mainForumDescription:after {
    content: "-";
    margin: 0 10px;
    display: inline-block;
}

p.pg-hotForumDescription, p.pg-hotThreadDescription, p.pg-mainForumDescription {
    font: 16px/1 Anodina, sans-serif;
    text-align: center;
    margin: 20px 0;
}

.pg-recommendPost {
    display: block;
    width: calc(100vw - 80px);
    margin: 0 auto 10px auto;
    padding: 5px 20px;
}

.pg-recommendPost:not(:last-child), .pg-normalThread:not(:last-child) {
    border-bottom: 1px solid;
    border-image: linear-gradient(to left, transparent, rgba(0, 0, 0, .2), rgba(0, 0, 0, .1)) 1;
}

.pg-normalThread {
    padding: 10px 0;
}

.pg-recommendPostMeta {
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: middle;
    height: 40px;
}

img.pg-recommendPostImage {
    display: inline-block;
    width: 20%;
    vertical-align: middle;
    height: calc(20vw - 16px);
}

p.pg-recommendPostName {
    width: calc(100% - 20px);
    font: 900 14px/1 Anodina, sans-serif;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

span.pg-fidBadge {
    border: 1px solid var(--white);
    padding: 2px;
    border-radius: 5px;
    margin-right: 20px;
}

p.pg-recommendPostInfo {
    margin-top: 6px;
}

.normalForumList {
    display: block;
    box-shadow: var(--box-shadow);
    margin: 20px;
    padding: 20px 10px;
    border-radius: 10px;
}

.normalForumList img {
    width: 36px;
    height: 36px;
    display: inline-block;
    border-radius: 37.5%;
    vertical-align: middle;
}

.normalForumList p {
    display: inline-block;
    width: calc(100% - 54px);
    margin-left: 6px;
    vertical-align: middle;
}

.normalForumList .cnName {
    display: block;
    width: 100%;
    font: 900 16px/1 Anodina, sans-serif;
    margin-bottom: 5px;
}

.normalForumList .enName {
    display: block;
    width: 100%;
    font: 400 12px/1 Anodina, sans-serif;
}


#bg-animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--white);
    z-index: 1005;
    opacity: 1;
}

#bg-animation:not(.loading) {
    opacity: 0;
    z-index: -1;
}

#bg-animation.loading:after {
    content: " ";
    display: block;
    z-index: 1002;
    background: url("https://passionpenguin.github.io/GZMTR/assets/media/vectors/Train.svg") no-repeat;
    background-size: 100% 48px;
    position: fixed;
    bottom: 42px;
    width: 100%;
    height: 48px;
    animation: 10s trainMoving ease-in-out infinite;
}

@keyframes trainMoving {
    from {
        left: -100%;
    }
    12.4% {
        left: 100%;
    }
    12.5% {
        left: -100%
    }
    25% {
        left: -100%
    }
    37.4% {
        left: 100%;
    }
    37.5% {
        left: -100%
    }
    50% {
        left: -100%
    }
    67.4% {
        left: 100%;
    }
    67.5% {
        left: -100%
    }
    75% {
        left: -100%
    }
    87.4% {
        left: 100%;
    }
    87.5% {
        left: -100%
    }
    100% {
        left: -100%
    }
}

#bg-animation span {
    position: absolute;
    left: 50%;
    top: 33.3%;
    transform: translate(-50%, -33.3%);
    font: 900 28px/1 Anodina, sans-serif;
}

#pg-navBottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    overflow: hidden;
    background: var(--white);
    border-top: 1px solid var(--grey);
    z-index: 1004;
}

.pg-navBottomNaviItem {
    display: inline-block;
    width: 33.3%;
    text-align: center;
    margin-top: 10px;
}

.pg-navBottomNaviItem > span {
    vertical-align: middle;
}

.pg-navBottomNaviItem > span:first-child {
    font-size: 20px;
}

.pg-navBottomNaviItem > span:nth-child(2) {
    margin-left: 10px;
}

#pg-app > :last-child {
    margin-bottom: 48px !important;
}

div#pg-postEditBoxUtilBoxWrap {
    position: relative;
    width: 100%;
    height: 100%;
}

div#textStyleWrap {
    width: fit-content;
    position: absolute;
    left: -200vw;
    transform: translate(-50%);
}

div#makeSpecialWrap {
    width: fit-content;
    position: absolute;
    left: 200vw;
    transform: translate(-50%);
}

.TextStyle div#textStyleWrap {
    left: 50%;
}

.TextStyle div#mainFeatureWrap {
    left: 200vw;
}

.MakeSpecial div#makeSpecialWrap {
    left: 50%;
}

.MakeSpecial div#mainFeatureWrap {
    left: -200vw;
}

div#mainFeatureWrap {
    width: fit-content;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
}

textarea#pg-postEditBox {
    position: absolute;
    top: 84px;
    left: 0;
    padding: 20px;
    width: calc(100vw - 40px);
    height: calc(100vh - 160px);
    border: 0;
    box-shadow: none;
    background: var(--white);
    outline: none;
    font: 400 16px/24px Anodina, sans-serif;
}

#sendUtilToolBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 48px;
    z-index: 1100;
}

#sendTitle {
    position: absolute;
    top: 48px;
    left: 0;
    width: 100%;
    height: 36px;
}

#pg-postEditBoxUtilBox {
    position: fixed;
    bottom: 36px;
    left: 0;
    width: 100%;
    height: 36px;
    background: var(--white);
}

#pg-postEditBoxWrap {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#pg-postEditBoxUtilBoxWrap span {
    margin: 0 6px;
}

div#pg-prompt-wrap {
    width: calc(100vw - 40px);
    height: calc(100vh - 40px);
    position: fixed;
    z-index: 1006;
    padding: 20px;
    background: var(--white);
}

span.pg-prompt-info {
    font: 800 18px/1 Anodina, sans-serif;
}

.pg-prompt-input {
    padding: 20px;
    border: 1px solid var(--black);
    margin: 10px 0;
    color: var(--grey);
}

.pg-prompt-input:hover, .pg-prompt-input:focus {
    color: var(--black);
}

.pg-prompt-promptInfo {
    text-align: center;
    font: 14px/21px Anodina, sans-serif;
}

span.pg-prompt-ctrl {
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    float: right;
}

.pg-prompt-ctrl span.mi {
    font: 16px/21px 'Material Icons';
    vertical-align: middle;
    display: inline-block;
}

.pg-prompt-ctrl span:not(.mi) {
    font: 14px/21px Anodina, sans-serif;
    vertical-align: middle;
}

div.pg-prompt-ctrl {
    width: 100%;
    height: 24px;
    margin-top: 20px;
}

#sendUtilToolBox span.mi:first-child {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translate(0, -50%);
}

#sendUtilToolBox #submitPostThread {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0, -50%);
}

#sendUtilToolBox div {
    display: block;
    width: fit-content;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font: 16px/1 Anodina, sans-serif;
}

div#sendTitle:before {
    width: 20px;
    content: "标题: ";
    margin-right: 10px;
    color: var(--theme);
}

div#sendTitle {
    outline: none;
    width: calc(100vw - 100px);
    height: 36px;
    top: 48px !important;
    transform: translate(-50%);
    margin: 0 auto;
}

#sendTitle:not(.show) {
    opacity: 0;
}

#fctrl_login {
    display: none;
}

div#fwin_viewratings {
    left: -8px !important;
}

div#fwin_viewratings *, #imgzoom *:not(img) {
    max-width: 100vw;
}

#imgzoom_cover {
    z-index: 1001 !important;
}

#imgzoom {
    display: block;
    position: fixed;
    left: 0 !important;
    top: 0 !important;
    width: 100%;
    height: 100%;
}

#newPostToggle {
    position: fixed;
    bottom: 48px;
    right: 6px;
    width: 48px;
    height: 48px;
    text-align: center;
    border-radius: 50%;
    background: var(--theme200);
    font: 28px/48px 'Material Icons';
    z-index: 1004;
    border: 1px solid var(--theme200);
    color: #fff;
}

div#pg-postEditBoxUtilBox.shouldUp {
    bottom: 256px !important;
}

#prefrences {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 256px;
    background: var(--white);
    margin: 0 !important;
    z-index: 1005;
}

#prefrences:not(.show) {
    margin-bottom: -384px !important;
}

#main_prefrences {
    position: fixed;
    left: -125vw;
    width: calc(100vw - 40px);
    height: 216px;
    padding: 20px;
}

#emotions {
    position: fixed;
    right: -125vw;
    width: calc(100vw - 40px);
    height: 216px;
    padding: 20px;
}

#main_prefrences.show {
    left: 0 !important;
}

#emotions.show {
    right: 0 !important;
}

div#emotionsWrap {
    height: 256px;
    overflow: hidden scroll;
    width: 100%;
}

img.emotions_Onion, img.emotions_Xiaobai, img.emotions_Q {
    height: 36px;
    margin: 6px;
}