@keyframes beating {
    from {
        transform: scale(1);
    }
    10% {
        transform: scale(0.98);
    }
    30% {
        transform: scale(0.9);
    }
    80% {
        transform: scale(1);
    }
    to {
        transform: scale(1);
    }
}

.beating {
    animation: 1s beating infinite;
}